
<div class="content">
<% form_for :profile, @profile, :url => { :action => 'create', :id => @profile } do |f| %>
	<p><label for="profile_xml">XML:</label></p>
	<%= f.text_area :xml, :cols => 80, :rows => 20 %>
	<p><label for="model_id">Model:</label></p>
	<%= select :model, :id, @models, :selected => @default_model_id %>
	<p><label for="profile_feature">Feature:</label></p>
	<%= f.text_field :feature, :size => 60 %>
	<p align="right"><%= f.submit "Save" %></p>
<% end %>
</div>
