<h1>Editing profile</h1>

<%= error_messages_for :profile %>

<% form_for(:profile, :url => profile_path(@profile), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>