<h1>New profile</h1>

<%= error_messages_for :profile %>

<% form_for(:profile, :url => profiles_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', profiles_path %>