<%= error_messages_for :profile %>

<table>
<tr><td class="panel">
<h1>New profile</h1>
	<%= render :partial => 'form' %>
</td></tr>
</table>

<font size=4><%= link_to 'Show', :action => 'show', :id => @profile %> |
<%= link_to 'Back', :action => 'index' %></font>
