.testing_border, #selected_testing_tab, #testing_pane td table td, #testing_pane td table th {
	border-color: #A28A50 ! important; 
}

td#testings_tabs table tr td, td#info_tabs table tr td {
	border-color: white ! important;
}

td#testings_tabs table tr td#selected_testing_tab {
	background-color: #F3D079;
	border-color: #F3D079 ! important;
}

td#info_tabs table tr td#info_tab_sticker {
	text-decoration: none;
	cursor: default;
	color: white;
	background-color: #F3D079;
	border-color: #F3D079 ! important;
}

td#info_tabs table tr td#info_tab_sticker a {
	text-decoration: none;
	cursor: default;
	color: #1A1406;
	font-weight: bold;
}

/*********************/

#components th, #testing_plan th {
	background-color: #F3D079;
	color: #1A1406;
}

.component_num {
	width: 8.6em;
}

.component_qty {
	width: 17.6em;
}

.component_name {
	width: 26.6em;
}

.component_odd {
}

.component_even {
	background-color: #f0f4f0;
}


