td#testing_plan, td#content, #selected_testing_tab, #testing_pane td table td, #testing_pane td table th {
	border-color: #6A5338 ! important; 
}

td#testings_tabs table tr td, td#info_tabs table tr td {
	border-color: white ! important;
}

td#testings_tabs table tr td#selected_testing_tab {
	background-color: #BFA88D;
	border-color: #BFA88D ! important;
}

td#info_tabs table tr td#info_tab_log {
	text-decoration: none;
	cursor: default;
	color: white;
	background-color: #BFA88D;
	border-color: #BFA88D ! important;
}

td#info_tabs table tr td#info_tab_log a {
	text-decoration: none;
	cursor: default;
	color: #4F3D12;
	font-weight: bold;
}
/*********************/

#testing_plan th {
	background-color: #BFA88D;
	color: #35291C;
}

/**********************/

#log_area {
	width: 100%;
	height: 50em;
	font-size: 75%;
	border: none;
	border-bottom: 1px dotted #6A5338;
}
