td#testing_plan, td#content, #selected_testing_tab, #testing_pane td table td, #testing_pane td table th {
	border-color: #A28A50 ! important; 
}

td#testings_tabs table tr td, td#info_tabs table tr td {
	border-color: white ! important;
}

td#testings_tabs table tr td#selected_testing_tab {
	background-color: #F3D079;
	border-color: #F3D079 ! important;
}

td#info_tabs table tr td#info_tab_sticker {
	text-decoration: none;
	cursor: default;
	color: white;
	background-color: #F3D079;
	border-color: #F3D079 ! important;
}

td#info_tabs table tr td#info_tab_sticker a {
	text-decoration: none;
	cursor: default;
	color: #1A1406;
	font-weight: bold;
}

/*********************/

#components th, #testing_plan th {
	background-color: #F3D079;
	color: #1A1406;
}

.component_num {
	width: 8.6em;
}

.component_qty {
	width: 17.6em;
}

.component_name {
	width: 26.6em;
}

td.component_name a {
	display: none;
}

td.component_name:hover {
	background-color: #F7DFA5;
}

td.component_name:hover a {
	display: inline;
}

td.component_name:hover span.stub_a {
	display: none;
}

.component_odd {
}

.component_even {
	background-color: #f0f4f0;
}

.confirm {
	margin-left: 4em;
	margin-right: 4em;
}

.hint_border div {
	text-align: center;
	padding-left: 3em ! important;
	padding-right: 3em  ! important;
}

textarea {
	width: 100%;
	font-size: 150%;
	border: none;
	border-bottom: 1px dotted #A28A50;
}

#count {
	width: 2em;
}
