#info_tab_hw {
	color: white;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
	background: #2dbb49;
	color: white;
}

#selected_testing_tab {
	background: #2dbb49;
}

#testing_plan, #content {
	border-color: #2dbb49 ! important;
}

/**********************/

#components {
	border-collapse: collapse;
	border: 0px hidden;
	width: 100%;
}


#components td, #components th {
	vertical-align: top;
	padding: 0.5em;
	padding: 0.5em;
	border-right: 1px solid #aaa;
}


#components th {
	border-bottom: 1px solid #aaa;
	vertical-align: middle;
	background-color: #eaedea;
}


.component_odd {
}

.component_even {
	background-color: #f0f4f0;
}

