td#testing_plan, td#content, #selected_testing_tab, #testing_pane td table td, #testing_pane td table th {
	border-color: #559F7D ! important; 
}

td#testings_tabs table tr td, td#info_tabs table tr td {
	border-color: white ! important;
}

td#testings_tabs table tr td#selected_testing_tab {
	background-color: #AACFBE;
	border-color: #AACFBE ! important;
}

td#info_tabs table tr td#info_tab_hw {
	background-color: #AACFBE;
	border-color: #AACFBE ! important;
}

td#info_tabs table tr td#info_tab_hw a{
	text-decoration: none;
	cursor: default;
	color: #002514;
	font-weight: bold;
}

/*********************/

#components th, #testing_plan th {
	background-color: #AACFBE;
	color: #002514;
}

.component_group {
	width: 8.6em;
}

.component_serial {
	width: 17.6em;
}

.component_name {
	width: 26.6em;
}

.component_vendor {
	font-weight: bold;
}

.component_odd {
}

.component_even {
	background-color: #f0f4f0;
}

#hint_type_e-passport {
	background-color: #AACFBE ! important;
}

#hint_type_e-passport .hint_border {
	background-image: url('/images/e-passport.png');
	text-align: center;
}
