/* Orders */

.order_staging {
        border-collapse: collapse;
}

.order_staging td {
        border-right: 2px dotted #845905;
}

.order_staging th {
        background: #845905;
        color: white;
        padding: 0.5em;
}

.order_cell {
        background: #f0dfbd;
        border-right: none !important;
        margin-left: 2em;
}

.order_cell a {
        display: block;
        text-decoration: none;
        color: black;
}

.order_cell .order_number {
        float: left;
        width: 80px;
        min-height: 38px;
        height: 38px;
        text-indent: 12px;
        padding-top: 10px;
        font-size: 1.3em;
        margin-right: 0.5em;
        background: url(/img/order.png);
}

.order_cell .timer {
        text-align: right;
        font-style: italic;
        padding-right: 0.5em;
}

