#search_form {
	margin-left: 4em;
	margin-right: 4em;
}

.form_head {
	text-align: center;
	background: #559F7D;
	font-size: 120%;
	font-family: arial, sans-serif;
	font-weight: bold;
	border: solid 1px #559F7D;
}

.form_body {
	background: #AACFBE;
	padding: 0.5em;
	font-family: arial, sans-serif;
	border: solid 1px #559F7D;
}

.form_body td {
	text-align: right;
	padding: 3px;
}

#results {
	padding-top: 1em;
	background: #FFFFFF;
}

#results table {
	width: 100%;
}

#results td {
	border-bottom: 1px solid #BBBBBB;
	text-align: left;
	height: 2em;
}

.order_cell .date {
	clear: left;
	float: right;
	font-weight: bold;
}

.computer_cell {
	vertical-align: top;
	background: #AACFBE;
	padding-left: 0.5em;
}

.computer_cell a {
	color: black;
}