.panel {
  background: #f0dfbd;
	border: none;
	margin: 0px;
	vertical-align: top;
}

.panel .content {
	padding: 0.5em;
}

h1 {
	background: #845905;
  color: white;
	font-size: 1em;
	padding: 0.5em;
	margin: 0px;
}


