#title_bar {
	display: none ! important;
}

#shelves {
}

div.group  {
	width: 100%;
}

table.stack {
	float: left;
	border-collapse: separate;
	width: auto ! important;
	border: 4px solid #eef0ee;
	background-color: #eef0ee; 
	margin: 4px 12px;
	margin-top: 1em;
}

div.group table.stack:first-child {
	clear: left;
}

table.stack tr {
}

table.stack td {
	width: 86px;
	height: 54px;
	border: 1px solid #559F7D;
	text-align: right;
	vertical-align: bottom;
}

table.stack td.free {
	background-color: #f8fff8;	
}

table.stack td.console {
	background: url('/images/console.png') 50% 50% no-repeat;
}

table.stack td.testing {
	background-color: #f8fff8;	
}

table.stack td.nil {
}

table.stack td .title {	
	font-size: 13px;
	font-family: serif;
	padding: 0px 2px;
}

/********************************/

.computer_on_shelf {
	text-align: left;
	padding: 0px 2px;
}

.computer_on_shelf a {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 4px; 
}

.colour_brick {
	position: relative;
	left: 50%;
	margin-left: -8px;
	bottom: -2px;
	height: 3px;	
	width: 16px;
}

.hidden_memo {
	display: none;
	background-color: white ! important;
	border: 1px solid #559F7D;
	min-height: 12em;
	position: fixed;
	padding: 0.5em;
	padding-bottom: 0px;
	z-index: 100;
}

.computer_on_shelf a:hover .hidden_memo, td.testing:hover .hidden_memo {
	display: block;
}

.computer_on_shelf .progress {
	padding: 0px;
	height: 3px;
	border: 1px solid;
	padding: 1px;
}

.computer_on_shelf .progress div {
	border-top: 3px solid #559F7D;
	height: 3px;
}

.computer_on_shelf .progress .running {
}

.computer_on_shelf .progress .failed {
	border-top-color: #aa2222 ! important;
}

.computer_on_shelf .progress .before {
}

.computer_on_shelf .progress .after {
}


.hidden_memo table {
	border: hidden;
}

.hidden_memo table td {
	border: hidden;
	text-align: left;
	vertical-align: middle;
	height: 2em;
	border-bottom: 1px dotted #ddd;
}

.hidden_memo .text {
	text-indent: 1em;
	width: 27.5em;
}

.hidden_memo .img {
	width: 7.5em;
	font-style: oblique;
}

.hidden_memo .img[colspan="2"] {
	text-align: center;
	padding: 0px ! important;	
}

.hidden_memo table th {
	text-align: center;
	font-size: 1.1em;
	height: 2em;
	border-bottom: 1px dashed;
}
