<%= error_messages_for 'customer' %>

<!--[form:customer]-->
<p><label for="customer_cust_name">Cust name</label><br/>
<%= text_field 'customer', 'cust_name'  %></p>

<p><label for="customer_cust_info">Cust info</label><br/>
<%= text_field 'customer', 'cust_info'  %></p>

<p><label for="customer_isactive">Isactive</label><br/>
<%= text_field 'customer', 'isactive'  %></p>
<!--[eoform:customer]-->

