<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>Inquisitor: Enterprise - <%= controller.action_name %></title>
<%= stylesheet_link_tag 'style' %>
<!--
<?php if ($refresh) { ?>
<meta http-equiv="Refresh" content="60; URL=<?php echo $refresh ?>"/>
<?php } ?>
-->
</head>
<body>

<div style="background: url('/img/title-bg.png') #cedef2; height: 68px; margin-bottom: 0.5em;">

<table border="0" cellspacing="0" cellpadding="0" height="100%" align="right">

<tr valign="top">
<td>
<div class="menu">
<%= link_to 'Orders', :controller => 'orders' %> &bull;
<%= link_to 'Running now', :controller => 'computers', :action => 'now' %> &bull;
<%= link_to 'Archive', :controller => 'computers', :action => 'archive' %> &bull;
<%= link_to 'Statistics', :controller => 'computers', :action => 'stats' %>
</div>
</td>
</tr>

<% if @computer %>
<tr valign="bottom">
<td>
<div class="title"><%=h @computer.title %> |
<%= link_to 'Latest info', { :action => 'latest', :id => @computer.id } %> &bull;
<%= link_to 'History', { :action => 'history', :id => @computer.id } %> &bull;
<a href="notebook.php?path=<?php echo urlencode($path); ?>&amp;ip=<?php echo $ip; ?>&amp;title=<?php echo urlencode($title); ?>">Info</a> &bull;
<a href="notebook-graph.php?path=<?php echo urlencode($path); ?>&amp;ip=<?php echo $ip; ?>&amp;title=<?php echo urlencode($title); ?>">Battery</a> &bull;
<a href="notebook-cdrw.php?path=<?php echo urlencode($path); ?>&amp;ip=<?php echo $ip; ?>&amp;title=<?php echo urlencode($title); ?>">OSD</a> &bull;
<a href="notebook-temp.php?path=<?php echo urlencode($path); ?>&amp;ip=<?php echo $ip; ?>&amp;title=<?php echo urlencode($title); ?>">Temperature</a> &bull;
<a href="notebook-log.php?path=<?php echo urlencode($path); ?>&amp;ip=<?php echo $ip; ?>&amp;title=<?php echo urlencode($title); ?>">Logs</a></div>
</td>
<td>
<div class="title">Testings: 
<% @computer.testings.each { |t| %>
<%= link_to t.id, { :action => 'testing', :id => @computer, :testing_id => t } %>
<% } %>
</div>
</td>
</tr>
<% end %>

</table>
<!--<img src="/img/title-logo.png" width="172" height="64" alt="" align="center"/>-->
</div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
