<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Inquisitor: Enterprise - <%= controller.action_name %></title>
	<%= javascript_include_tag 'prototype' %>
	<%= javascript_include_tag 'rico/rico' %>
	<%= javascript_include_tag 'rico/ricoStyles' %>
	<%= javascript_include_tag 'effects' %>
	<%= stylesheet_link_tag 'inq' %>
	<%= stylesheet_link_tag "computer_tab_#{controller.action_name}" %>
	<%= javascript_include_tag 'timeticker' %>
</head>
<body onload="javascript:startTicker();">
	<%= render :partial => '/layouts/title_bar' %>
	<%= render :partial => '/layouts/computer_title_bar' %>	
	<%= render :partial => '/layouts/progress_bar' %>
	
	<table id="testing_pane">

		<tr>
		<td colspan="3" id="info_tabs"><table><tr>
			<td id="info_tab_dummy">&nbsp;</td>
			<%= content_tag(:td, (@computer.order && controller.action_name == 'hw' ? link_to('&nbsp;&nbsp;', {:action => 'audit', :id => @computer.id, :testing => @testing_number}, :title => 'Audit', :style => 'width: 16px ; background : url("/images/counterclockwise.png") 50% 50% no-repeat ; float: left ; cursor : pointer;') : '' ) + content_tag(:span, link_to("Hardware", {:action => 'hw', :id => @computer.id, :testing => @testing_number})) , :id => 'info_tab_hw') %>
			<%= content_tag(:td, link_to("Sticker", {:action => 'sticker', :id => @computer.id, :testing => @testing_number}), :id => 'info_tab_sticker') %>
			<%= content_tag(:td, link_to("Logs", {:action => 'log', :id => @computer.id, :testing => @testing_number}), :id => 'info_tab_log') %>
			<%= content_tag(:td, link_to("Marks", {:action => 'mark', :id => @computer.id, :testing => @testing_number}), :id => 'info_tab_mark') %>
			<%= content_tag(:td, link_to("Graphs", {:action => 'graph', :id => @computer.id, :testing => @testing_number}), :id => 'info_tab_graph') %>
			<%= content_tag(:td, link_to("SSH", {:action => 'ssh', :id => @computer.id, :testing => @testing_number}), :id => 'info_tab_ssh') %>
		</tr></table></td>
		</tr>

		<tr>
	
		<td id="testings_tabs"> 
			<table>	

			<%= javascript_tag("function select_testing_tab() { z = document.getElementById('testing_select'); y = (z.options[z.selectedIndex].value); y.match(/\\d+/) && window.location.assign('#{ url_for(:action => controller.action_name, :id => @computer.id, :testing => '__replace_me') }'.replace('__replace_me', y)); }") if @sorted_testings.size > 10 %>
			<% in_combo = @sorted_testings.size - @testing_number > 10 ; options = [] ; j = 0 ; @sorted_testings.size.downto(1) do |i| %>
				<% if j < 10 %>
					<tr><td class="testing_tab" <%= (i - 1 == @testing_number) ? " id='selected_testing_tab' " : "" %>><%= link_to(i, {:action => controller.action_name, :testing => i - 1}) %></td></tr>
				<% else %>
					<% options << content_tag(:option, i, { :value => i - 1 }.merge(i - 1 == @testing_number ? { :selected => 1 } : {})) %>					
					<%= content_tag(:tr, content_tag(:td, select_tag('testing', ((( in_combo ? [] : [ content_tag(:option, '&gt;&gt;', :selected => 1) ])  + options).join()), :id => 'testing_select', :onchange => 'select_testing_tab();'), { :class => 'testing_tab' }.merge(in_combo ? { :id => 'selected_testing_tab' } : {}))) if j == @sorted_testings.size - 1 %>
				<% end ; j += 1 %>
			<% end %>
			<tr><td class="dummy_tab"></td></tr>	
			</table>
		</td>


		<td id="testing_plan">
			<table>
				<tr><th class="testing_stage_name">Stage</th><th class="testing_stage_span">Elapsed</th></tr>
			<% if @testing and @testing.test_start %>
				<tr><td class="testing_stages_start" colspan="2"><%= ( @current_action == 'graph' ? link_to(@testing.test_start.strftime('%d.%m.%Y %H:%M'), {:controller => :computers, :action => :graph, :id => @computer, :testing => @testing_number}) : @testing.test_start.strftime('%d.%m.%Y %H:%M') ) %></td></tr>
			<% end %>
			<% if @stages %>
				<% @stages.each_with_index { |stage, index| %>
				<tr class='testing_stage_<%= stage[:result] %>'>
					<td class="testing_stage_name" title="<%= stage[:title] %>">
						<%= (@current_action == 'graph' ? link_to(stage[:id], {:controller => :computers, :action => :graph, :id => @computer, :testing => @testing_number, :from => stage[:started].nil? ? nil : stage[:started].to_f , :to => stage[:finished].nil? ? nil : stage[:finished].to_f }) : stage[:id]) %>
						<div style="font-size: 60%"><%= stage[:comment] %></div>
					</td>
					<td class="testing_stage_span">
						<%= sprintf("%02i:%02i:%02i", stage[:elapsed]/3600, stage[:elapsed]%3600/60, stage[:elapsed]%3600%60) if stage[:elapsed] %>
					</td>
				</tr>
			<% } %>
			<% end %>
			<% if @testing and @testing.test_end %>
				<tr><td class="testing_stages_end" colspan="2"><%= @testing.test_end.strftime('%d.%m.%Y %H:%M') %></td></tr>
			<% end %>
			</table>
			&nbsp;
			
			<% if @testing && @testing.profile %>
				<div class="testing_profile">Profile: <%= link_to @testing.profile.name, { :controller => :profiles, :action => :show, :id => @testing.profile } %></div>
			<% end %>
			
		</td> 

		<td id="content">
			<%= yield %>		
		</td> 
	</tr></table>

</body>
</html>
