<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Inquisitor: Enterprise - <%= controller.action_name %></title>
	<%= javascript_include_tag 'prototype' %>
	<%= javascript_include_tag 'rico/rico' %>
	<%= javascript_include_tag 'rico/ricoStyles' %>
	<%= javascript_include_tag 'effects' %>
	<%= stylesheet_link_tag 'inq' %>
	<%= stylesheet_link_tag "computer_tab_#{controller.action_name}" %>
</head>
<body>

	<div id="title_bar"> 
	<div id="title_bar_link"><%= link_to(image_tag('shelves.png'), :controller => 'computers') %></div>
	<table><tr>
		<td id="title_bar_model"><%= @computer.model.name %></td>
		<td id="title_bar_serial"><%= @computer.serial_no %></td>
		<td id="title_bar_shelf"><%= @computer.shelf %></td>
<% if @computer.order %>
		<td id="title_bar_doc">Order: <%= link_to @computer.order.buyer_order_number, { :controller => :orders, :action => :show, :id => @computer.order } %></td>
<% end %>
	</tr></table>
	</div>
	
	<div id="progress_bar"> 
	<table><tr>
	<% stages = ['Ordering', 'Warehouse', 'Acceptance', 'Assembling', 'Testing', 'Packaging'] ; now = Time.new() %>
	<% @computer.computer_stages.sort { |a, b| (a.end || now) <=> (b.end || now) }.each() do |stage| %>
	<%
		ary = [{ :span => ((stage.end || now) - stage.start).round(), :span_txt => "< 1m" }]
		name = stage.stage.capitalize()
		ary = ary.collect do |h|
		        if (z = h[:span] / 86400) > 0
				h[:span_txt] = sprintf("%id %ih", z, h[:span] % 86400 / 3600)
			elsif ( z = h[:span] / 3600) > 0
				h[:span_txt] = sprintf("%ih %im", z, h[:span] % 3600 / 60)
			elsif (z = h[:span] / 60) > 0
				h[:span_txt] = sprintf("%im", z)
			end
			h
		end
		classname = stage.end ? 'finished' : 'running'
		stages.delete(name)
	%>
		<td title='<%= stage.comment %>' class='computer_stage_<%= classname %>'>
			<div class="computer_stage_name"><%= name %></div>
<%		if stage.person %>
			<div class="computer_stage_person">(<%= stage.person.name %>)</div>
<%		end %>
			<div class="computer_stage_time"><%= ary.reverse.collect { |h| h[:span_txt] }.join(" / ") %></div>
		</td>
	<% end %>
	<% stages.each do |stage| %><td class="computer_stage_planned"><%= stage %></td><% end %>
	</tr></table>
	</div>
	
	<table id="testing_pane">

		<tr>
		<td colspan="3" id="info_tabs"><table><tr>
			<td id="info_tab_dummy">&nbsp;</td>
			<%= content_tag(:td, (@computer.order && controller.action_name == 'hw' ? link_to(image_tag('counterclockwise.png', :title => 'Audit'), {:action => 'audit', :id => @computer.id, :testing => @testing_number}, :style => 'cursor: pointer; float: left; ') : '' ) + content_tag(:span, link_to("Hardware", {:action => 'hw', :id => @computer.id, :testing => @testing_number})) , :id => 'info_tab_hw') %>
			<%= content_tag(:td, link_to("Sticker", {:action => 'sticker', :id => @computer.id, :testing => @testing_number}), :id => 'info_tab_sticker') %>
			<%= content_tag(:td, link_to("Logs", {:action => 'log', :id => @computer.id, :testing => @testing_number}), :id => 'info_tab_log') %>
			<%= content_tag(:td, link_to("Marks", {:action => 'mark', :id => @computer.id, :testing => @testing_number}), :id => 'info_tab_mark') %>
		</td></tr></table>
		</td></tr>

		<tr>
	
		<td id="testings_tabs"> 
			<table>	

			<%= javascript_tag("function select_testing_tab() { z = document.getElementById('testing_select'); y = (z.options[z.selectedIndex].value); y.match(/\\d+/) && window.location.assign('#{ url_for(:action => controller.action_name, :id => @computer.id, :testing => '__replace_me') }'.replace('__replace_me', y)); }") if @sorted_testings.size > 10 %>
			<% in_combo = @sorted_testings.size - @testing_number > 10 ; options = [] ; j = 0 ; @sorted_testings.size.downto(1) do |i| %>
				<% if j < 10 %>
					<tr><td class="testing_tab" <%= (i - 1 == @testing_number) ? " id='selected_testing_tab' " : "" %>><%= link_to(i, {:action => controller.action_name, :testing => i - 1}) %></td></tr>
				<% else %>
					<% options << content_tag(:option, i, { :value => i - 1 }.merge(i - 1 == @testing_number ? { :selected => 1 } : {})) %>					
					<%= content_tag(:tr, content_tag(:td, select_tag('testing', ((( in_combo ? [] : [ content_tag(:option, '&gt;&gt;', :selected => 1) ])  + options).join()), :id => 'testing_select', :onchange => 'select_testing_tab();'), { :class => 'testing_tab' }.merge(in_combo ? { :id => 'selected_testing_tab' } : {}))) if j == @sorted_testings.size - 1 %>
				<% end ; j += 1 %>
			<% end %>
			<tr><td class="dummy_tab"></td></tr>	
			</table>
		</td>


		<td id="testing_plan"><div class="testing_border">
			<table>
				<tr><th class="testing_stage_name">Stage</th><th class="testing_stage_span">Elapsed</th></tr>
			<% if @stages %>
				<% @stages.each { |stage| %>
				<tr class='testing_stage_<%= stage[:result] %>'>
					<td class="testing_stage_name"><%= stage[:id] %></td>
					<td class="testing_stage_span"><%= sprintf("%02i:%02i:%02i", stage[:elapsed]/3600, stage[:elapsed]%3600/60, stage[:elapsed]%3600%60) if stage[:elapsed] %></td>
				</tr>
			<% } %>
			<% end %>
			</table>
			&nbsp;
		</div></td> 

		<td id="content"><div class="testing_border">
			<%= yield %>		
		</div></td> 
	</tr></table>

</body>
</html>
