<%= error_messages_for 'component' %>

<!--[form:component]-->
<p><label for="component_hw_qty">Hw qty</label><br/>
<%= text_field 'component', 'hw_qty'  %></p>

<p><label for="component_hw_serial">Hw serial</label><br/>
<%= text_field 'component', 'hw_serial'  %></p>
<!--[eoform:component]-->

