<% form_tag(:action => 'comment_update', :id => @computer.id, :num => @num) do %>
<h2>Comment</h2>
<textarea name="comment" id="comment" cols="80" rows="6" ><%=h @comment %></textarea>
<p><%= submit_tag('Save') %></p>
<% end %>
