<table id="components">
	<tr><th class="mark_name">Mark name</th><th class="mark_value">Mark value</th></tr>
	<% @marks.each do |m| %>
		<tr>
		<td class="mark_name"><%= m.key %></td>
		<td class="mark_value"><%= "#{m.value_float} #{m.value_str}" if (m.value_float) || m.value_str %></td>
		</tr>
	<% end %>
</table>
