<table id='stacks'>
<tr>
	<td id='stack_AC'><%= def_stack(@byshelves, ['A', shelf_type_A()], ['B', shelf_type_B()], ['C', shelf_type_A()] ) %></td>
	<td id='stack_DF'><%= def_stack(@byshelves, ['D', shelf_type_A()], ['E', shelf_type_E()], ['F', shelf_type_A()] ) %></td>
</tr>
<tr>
<tr>
	<td id='stack_GI'><%= def_nice_stack(@byshelves, 'G', 'H', 'I') %></td>
	<td id='stack_JL'><%= def_nice_stack(@byshelves, 'J', 'K', 'L') %></td>
</tr>
</table>
