<%= error_messages_for :firmware %>

<!--[form:firmware]-->
<p><label for="firmware_version">Version</label><br/>
<%= text_field 'firmware', 'version'  %></p>

<p><label for="firmware_image">Image</label><br/>
<%= text_field 'firmware', 'image'  %></p>

<p><label for="firmware_component_model_id">Component model ID</label><br/>
<%= text_field 'firmware', 'component_model_id'  %></p>
<!--[eoform:firmware]-->
