<h1>Editing firmware</h1>

<% form_tag({ :action => 'update', :id => @firmware }, { :multipart => true }) do -%>
	<%= render :partial => 'edit_form' %>
	<%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @firmware %> |
<%= link_to 'Back', :action => 'index' %>
